HTTP3_INTEROP_WWW=./work/www
HTTP3_INTEROP_DOWNLOADS=./work/downloads
HTTP3_INTEROP_CERTS=./work/certs
HTTP3_INTEROP_LOGS=./work/logs
HTTP3_CURL_IMAGE=curlimages/curl:latest
HTTP3_QUICHE_IMAGE=cloudflare/quiche:latest
HTTP3_NGTCP2_IMAGE=ghcr.io/ngtcp2/nghttp3:latest
